<h1>New Books</h1>
<hr class="fadeAway">

<figure class="photo">
  <img src="../../../../../assets/images/swiatlo_ukryte.jpg" alt="swiatlo ukryte">
  <figcaption>SALE: $30,997</figcaption>
</figure>

<figure class="photo">
  <img src="../../../../../assets/images/swiatlo_ukryte.jpg" alt="swiatlo ukryte">
  <figcaption>SALE: $30,997</figcaption>
</figure>

<figure class="photo">
  <img src="../../../../../assets/images/swiatlo_ukryte.jpg" alt="swiatlo ukryte">
  <figcaption>SALE: $30,997</figcaption>
</figure>
