$g-root__color--primary--01a: #424e64;
$g-root__color--primary--02a: #bbc2ca;
$g-root__color--font--02a: #35373a;

$gutter: 2%;
$gutterdbl: (2 * $gutter);

$g-root__default--font: 'Lato', sans-serif;
$g-root__weight-normal: 300;
$g-root__bold-normal: 700;
